@import "tailwindcss";
@import "preline/variants.css";

@source "../../node_modules/preline/dist/*.js";

@font-face {
	font-family: 'montserrat';
	src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #ededed;
    font-family: 'montserrat';

}
@theme {
    --color-custom: black;
  }


  html {
	position: relative;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	scroll-behavior: smooth;

}

body {
	height: 100%;
	overflow-x: hidden;
	unicode-bidi: plaintext;
	translate: no !important;
}

#__nuxt {
	height: 100%;
	display: flex;
	flex-direction: column;
}

